<footer class="site-footer">
	<div class="wrapper">
		<h2 class="footer-heading">{{ site.title }}</h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-3">
				<ul class="contact-list">
					<li>{{ site.title }}</li>
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
