.step1-wrap {
  background-color: white;
  border-radius: 0.25rem;
}

.react-calendar {
  padding: 50px 0px;
  border: none;
}

select {
  background-color: #6a994e;
  color: white;
  padding: 5px 30px;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  display: block;
}

.react-calendar__month-view__days {
  font-size: 20px;
  font-family: 'Nunito', sans-serif !important;
}

.react-calendar__tile--active:active,
.react-calendar__tile--active:focus,
.react-calendar__tile--active {
  background-color: #a7c957 !important;
  border-radius: 50% !important;
}

.react-calendar__tile:enabled:hover {
  border-radius: 50%;
}

.react-calendar__tile--now {
  border-radius: 50%;
}
