.my-bookings-content .my-bookings-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.my-bookings-content .my-bookings-table tr {
  background-color: #fff;
  border-radius: 0.25rem;
}

.my-bookings-content .my-bookings-table td,
.my-bookings-content .my-bookings-table th {
  padding: 30px 20px;
}
.my-bookings-content h4,
.my-bookings-content h2 {
  color: #386641;
  font-weight: 600;
}
