---
layout: default
---

<div class="home">
	<h1 class="page-heading">Table of Contents:</h1>

	<ul class="post-list">
		{% for post in site.posts %}
		<li style="margin-bottom: 5px">
			<p>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}"
					>{{ post.title }}</a
				>
			</p>
		</li>
		{% endfor %}
	</ul>
</div>
